<div class="card mb-2">
    <div class="card-header bg-dark text-white">
        <h5><i class="far fa-chart-bar"></i> Stats</h5>
    </div>
    <div class="card-body">
        <p><div class="fas fa-images"></div> Images: {{ sidebar.stats.images }}</p>
        <p><div class="fas fa-comments"></div> Comments: {{ sidebar.stats.comments }}</p>
        <p><div class="fas fa-eye"></div> Views: {{ sidebar.stats.views }}</p>
        <p><div class="fas fa-heart"></div> Likes: {{ sidebar.stats.likes }}</p>
    </div>
</div>